#
# Copyright © 2018 TransTracks. All rights reserved.
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
#

# The Ad configs are testing values and shouldn't need replacing for developing
ADS_APP_ID=ca-app-pub-3940256099942544~3347511713
ADS_HOME_AD_ID=ca-app-pub-3940256099942544/293473571
ADS_SETTINGS_AD_ID=ca-app-pub-3940256099942544/293473571

# This code salt just needs to be a random string to salt passwords and shouldn't need replacing for developing
CODE_SALT=tzDEzR6dHptPbKwgkvdCIsY1NPT9YZ6c
